auto-install-peers=false
autoInstallPeers=false
engine-strict=true
fund=false
ignore-scripts=true
lockfile-include-tarball-url=false
minimum-release-age=1440
package-manager-strict=true
package-manager-strict-version=true
prefer-frozen-lockfile=true
save-exact=true
strict-peer-dependencies=true
strict-store-pkg-content-check=true
update-notifier=false
verify-store-integrity=true
